.prikaz{
    display: flex;
    justify-content: center;
}

.labela{
    background: none;
    background-color: rgb(1, 97, 252);
    border: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: "Montserrat",Arial,"Helvetica Neue",sans-serif;
    transition-duration: 0.4s;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid rgb(1, 97, 252);
    border-radius: 10px;
}

.labela:hover {
    background-color: white;
    color: rgb(1, 97, 252);
}