<html>
    <head>
        <title>eFiskalizacija</title>
    </head>
    <body>
        <div class="tajtl"><h1>Dobrodošli na eFiskalizaciju!</h1></div>

        <router-outlet></router-outlet>
    </body>
        <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>O eFiskalizaciji</h6>
              <p class="text-justify">eFiskalizacija je novi sistem fiskalizacije u Republici Srbiji koji doprinosi lakoći unošenja podataka o transakcijama, evidencije i kontrole istih. Korisnici platforme su preduzeća i kupci: preduzeća mogu da manipulišu artiklima i uslugama koje nude, kao i da izdaju račune za pružene usluge i prodatu robu. Kupci imaju uvid u sve artikle u sistemu i mogu da pregledaju sve svoje račune.</p>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Brzi linkovi</h6>
              <ul class="footer-links">
                <li><a href="mailto:km190385d@student.etf.bg.ac.rs">Kontakt mejl adresa</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2022 Sva prava zadržana
              </p>
            </div>
          </div>
        </div>
  </footer>
</html>
