.prikaz{
    display: flex;
    justify-content: center;
}

.labela{
    background: none;
    background-color: rgb(1, 97, 252);
    border: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: "Montserrat",Arial,"Helvetica Neue",sans-serif;
    transition-duration: 0.4s;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid rgb(1, 97, 252);
    border-radius: 10px;
}

.labela:hover {
    background-color: white;
    color: rgb(1, 97, 252);
}

.hro{
    background-color:rgb(1, 97, 252);
}

table{
    margin-bottom: 20px;
}

td, th{
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

h2{
    margin-bottom: 15px;
}

.dugme{
    border-radius: 10px;
}
.dugme-pomjeraj{
    margin-top: 30px;
}

.red{
    margin-bottom: 30px;
}

.lista{
    list-style: none;
    list-style-image: none;
    margin-right: 40px;
}

.pagDugme{
    border-radius: 50%;
}

li{
    margin-left: 5px;
    margin-right: 5px;
}

.potkategorija{
    margin: 20px 0px;
}

.minimalnaCijena{
    background-color: rgb(22, 195, 22);
}

.grafico .content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.grafico .content span{
    font-family: 'Roboto';
    font-size: 13px;
    color: #707070;
}

.grafico .line{
    background-color: #CCCCCC;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.grafico .legends{
    display: flex;
    flex-direction: row;
    color: #707070;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
}

.grafico .legends span{
    width: 60px;
    margin:0 10px;
}

.grafico .bars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.grafico .bar{
    width: 6px;
    min-height: 5px;
    margin:0 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.grafico .bar:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.20);
}